Non-Graded Challenge 5:

In [ ]:
create table customers(
	customer_id int primary key,
	customer_name varchar(50),
	city varchar(20)
);

create table orders(
	order_id int primary key,
	customer_id int,
	order_date date,
	total_amount float,

	foreign key (customer_id) references customers(customer_id)
);

drop table orders cascade;

insert into customers(customer_id, customer_name, city)
values (1, 'John Doe', 'New York'), (2, 'Jane Smith', 'Los Angeles'), (3,'David Johnson', 'Chicago');

insert into orders(order_id, customer_id, order_date, total_amount)
values (1, 1, '2022-01-10', 100.00),(2,1,'2022-02-15', 150.00), (3,2,'2022-03-20', 200.00), (4,3,'2022-04-25', 50.00);

select * from orders;
select * from customers;

select c.customer_name, count(1)
from orders o
	join customers c on o.customer_id = c.customer_id
group by c.customer_name;